.facts-behind{
    position: relative;
    width: 100%;
    height: 100%;
}

.facts-behind::before{
    content: "MY FACTS";
    position: absolute;
    top: -4rem;
    left: 2rem;
    font-size: 100px;
    font-weight: 700;
    color: black;
    opacity: 0.2;
}

@media (min-width: 1024px) and (max-width:1279px) {
  .facts-behind::before {
    font-size: 80px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .facts-behind::before {
    top: -2rem;
    font-size: 40px;
  }
}

@media (max-width: 639px) {
  .facts-behind::before {
    top: -1rem;
    font-size: 30px;
  }
}